*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a{
    text-decoration: none;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    padding: 0 40px;
}
header nav{
   
}
header ul{
    list-style: none;
}
header ul li{
    display: inline-block;
    /* font-size: 24px; */
    margin-right: 10px;
    
}
header ul li a{
        text-decoration: none;
          padding: 7px;
    background-color: rgb(40, 43, 127);
    color: white;
    border-radius: 5px;
}
